@theme {
  /* FOREGROUND */
  --color-fg-accent: #0969da;
  --color-fg-attention: #9a6700;
  --color-fg-black: #1f2328;
  --color-fg-closed: #d1242f;
  --color-fg-danger: #d1242f;
  --color-fg-default: #1f2328;
  --color-fg-disabled: #818b98;
  --color-fg-done: #8250df;
  --color-fg-draft: #59636e;
  --color-fg-link: #0969da;
  --color-fg-muted: #59636e;
  --color-fg-neutral: #59636e;
  --color-fg-on-emphasis: #ffffff;
  --color-fg-on-inverse: #ffffff;
  --color-fg-open: #1a7f37;
  --color-fg-severe: #bc4c00;
  --color-fg-sponsors: #bf3989;
  --color-fg-success: #1a7f37;
  --color-fg-upsell: #8250df;
  --color-fg-white: #ffffff;
  /* BACKGROUND */
  --color-bg-accent-emphasis: #0969da;
  --color-bg-accent-muted: #ddf4ff;
  --color-bg-attention-emphasis: #9a6700;
  --color-bg-attention-muted: #fff8c5;
  --color-bg-black: #1f2328;
  --color-bg-closed-emphasis: #cf222e;
  --color-bg-closed-muted: #ffebe9;
  --color-bg-danger-emphasis: #cf222e;
  --color-bg-danger-muted: #ffebe9;
  --color-bg-default: #ffffff;
  --color-bg-disabled: #eff2f5;
  --color-bg-done-emphasis: #8250df;
  --color-bg-done-muted: #fbefff;
  --color-bg-draft-emphasis: #59636e;
  --color-bg-draft-muted: #818b981f;
  --color-bg-emphasis: #25292e;
  --color-bg-inset: #f6f8fa;
  --color-bg-inverse: #25292e;
  --color-bg-muted: #f6f8fa;
  --color-bg-neutral-emphasis: #59636e;
  --color-bg-neutral-muted: #818b981f;
  --color-bg-open-emphasis: #1f883d;
  --color-bg-open-muted: #dafbe1;
  --color-bg-severe-emphasis: #bc4c00;
  --color-bg-severe-muted: #fff1e5;
  --color-bg-sponsors-emphasis: #bf3989;
  --color-bg-sponsors-muted: #ffeff7;
  --color-bg-success-emphasis: #1f883d;
  --color-bg-success-muted: #dafbe1;
  --color-bg-transparent: #ffffff00;
  --color-bg-upsell-emphasis: #8250df;
  --color-bg-upsell-muted: #fbefff;
  --color-bg-white: #ffffff;
  /* BORDER */
  --color-border-accent-emphasis: #0969da;
  --color-border-accent-muted: #54aeff66;
  --color-border-attention-emphasis: #9a6700;
  --color-border-attention-muted: #d4a72c66;
  --color-border-closed-emphasis: #cf222e;
  --color-border-closed-muted: #ff818266;
  --color-border-danger-emphasis: #cf222e;
  --color-border-danger-muted: #ff818266;
  --color-border-default: #d1d9e0;
  --color-border-disabled: #818b981a;
  --color-border-done-emphasis: #8250df;
  --color-border-done-muted: #c297ff66;
  --color-border-draft-emphasis: #59636e;
  --color-border-draft-muted: #d1d9e0b3;
  --color-border-emphasis: #818b98;
  --color-border-muted: #d1d9e0b3;
  --color-border-neutral-emphasis: #59636e;
  --color-border-neutral-muted: #d1d9e0b3;
  --color-border-open-emphasis: #1a7f37;
  --color-border-open-muted: #4ac26b66;
  --color-border-severe-emphasis: #bc4c00;
  --color-border-severe-muted: #fb8f4466;
  --color-border-sponsors-emphasis: #bf3989;
  --color-border-sponsors-muted: #ff80c866;
  --color-border-success-emphasis: #1a7f37;
  --color-border-success-muted: #4ac26b66;
  --color-border-translucent: #1f232826;
  --color-border-transparent: #ffffff00;
  --color-border-upsell-emphasis: #8250df;
  --color-border-upsell-muted: #c297ff66;
  /* SHADOW */
  --shadow-floating-large: 0 0 0 1px #d1d9e000, 0 40px 80px 0 #25292e3d;
  --shadow-floating-legacy: 0 6px 12px -3px #25292e0a, 0 6px 18px 0 #25292e1f;
  --shadow-floating-medium:
    0 0 0 1px #d1d9e000, 0 8px 16px -4px #25292e14, 0 4px 32px -4px #25292e14,
    0 24px 48px -12px #25292e14, 0 48px 96px -24px #25292e14;
  --shadow-floating-small:
    0 0 0 1px #d1d9e080, 0 6px 12px -3px #25292e0a, 0 6px 18px 0 #25292e1f;
  --shadow-floating-xlarge: 0 0 0 1px #d1d9e000, 0 56px 112px 0 #25292e52;
  --shadow-inset: inset 0 1px 0 0 #1f23280a;
  --shadow-resting-medium: 0 1px 1px 0 #25292e1a, 0 3px 6px 0 #25292e1f;
  --shadow-resting-small: 0 1px 1px 0 #1f23280a, 0 1px 2px 0 #1f232808;
  --shadow-resting-xsmall: 0 1px 1px 0 #1f23280d;
  /* BUTTON */
  /* Danger */
  --color-button-danger-bg-active: #a40e26;
  --color-button-danger-bg-disabled: #eff2f5;
  --color-button-danger-bg-hover: #cf222e;
  --color-button-danger-bg-rest: #f6f8fa;
  --color-button-danger-border-active: #1f232826;
  --color-button-danger-border-hover: #1f232826;
  --color-button-danger-border-rest: #d1d9e0;
  --color-button-danger-fg-active: #ffffff;
  --color-button-danger-fg-disabled: #d1242f80;
  --color-button-danger-fg-hover: #ffffff;
  --color-button-danger-fg-rest: #d1242f;
  --color-button-danger-icon-disabled: #d1242f80;
  --color-button-danger-icon-hover: #ffffff;
  --color-button-danger-icon-rest: #d1242f;
  /* Default */
  --color-button-default-bg-active: #e6eaef;
  --color-button-default-bg-disabled: #eff2f5;
  --color-button-default-bg-hover: #eff2f5;
  --color-button-default-bg-rest: #f6f8fa;
  --color-button-default-bg-selected: #e6eaef;
  --color-button-default-border-active: #d1d9e0;
  --color-button-default-border-disabled: #818b981a;
  --color-button-default-border-hover: #d1d9e0;
  --color-button-default-border-rest: #d1d9e0;
  --color-button-default-fg-disabled: #818b98;
  --color-button-default-fg-rest: #25292e;
  /* Inactive */
  --color-button-inactive-bg: #e6eaef;
  --color-button-inactive-fg: #59636e;
  /* Invisible */
  --color-button-invisible-bg-active: #818b9826;
  --color-button-invisible-bg-disabled: #ffffff00;
  --color-button-invisible-bg-hover: #818b981a;
  --color-button-invisible-bg-rest: #ffffff00;
  --color-button-invisible-border-disabled: #ffffff00;
  --color-button-invisible-border-hover: #ffffff00;
  --color-button-invisible-border-rest: #ffffff00;
  --color-button-invisible-fg-active: #25292e;
  --color-button-invisible-fg-disabled: #818b98;
  --color-button-invisible-fg-hover: #25292e;
  --color-button-invisible-fg-rest: #25292e;
  --color-button-invisible-icon-disabled: #818b98;
  --color-button-invisible-icon-hover: #59636e;
  --color-button-invisible-icon-rest: #59636e;
  /* Outline */
  --color-button-outline-bg-active: #0757ba;
  --color-button-outline-bg-disabled: #eff2f5;
  --color-button-outline-bg-hover: #0969da;
  --color-button-outline-bg-rest: #f6f8fa;
  --color-button-outline-border-active: #1f232826;
  --color-button-outline-border-hover: #1f232826;
  --color-button-outline-fg-active: #ffffff;
  --color-button-outline-fg-disabled: #0969da80;
  --color-button-outline-fg-hover: #ffffff;
  --color-button-outline-fg-rest: #0969da;
  /* Primary */
  --color-button-primary-bg-active: #197935;
  --color-button-primary-bg-disabled: #95d8a6;
  --color-button-primary-bg-hover: #1c8139;
  --color-button-primary-bg-rest: #1f883d;
  --color-button-primary-border-active: #1f232826;
  --color-button-primary-border-disabled: #95d8a6;
  --color-button-primary-border-hover: #1f232826;
  --color-button-primary-border-rest: #1f232826;
  --color-button-primary-fg-disabled: #ffffffcc;
  --color-button-primary-fg-rest: #ffffff;
  --color-button-primary-icon-disabled: #ffffffcc;
  --color-button-primary-icon-rest: #ffffffcc;
  /* Star */
  --color-button-star-icon: #eac54f;
  /* CONTROL */
  --color-control-bg-active: #e6eaef;
  --color-control-bg-disabled: #eff2f5;
  --color-control-bg-hover: #eff2f5;
  --color-control-bg-rest: #f6f8fa;
  --color-control-bg-selected: #f6f8fa;
  --color-control-border-danger: #cf222e;
  --color-control-border-disabled: #818b981a;
  --color-control-border-emphasis: #818b98;
  --color-control-border-rest: #d1d9e0;
  --color-control-border-selected: #f6f8fa;
  --color-control-border-success: #1a7f37;
  --color-control-border-warning: #9a6700;
  --color-control-checked-bg-active: #0757ba;
  --color-control-checked-bg-disabled: #818b98;
  --color-control-checked-bg-hover: #0860ca;
  --color-control-checked-bg-rest: #0969da;
  --color-control-checked-border-active: #0757ba;
  --color-control-checked-border-disabled: #818b98;
  --color-control-checked-border-hover: #0860ca;
  --color-control-checked-border-rest: #0969da;
  --color-control-checked-fg-disabled: #ffffff;
  --color-control-checked-fg-rest: #ffffff;
  --color-control-danger-bg-active: #ffebe966;
  --color-control-danger-bg-hover: #ffebe9;
  --color-control-danger-fg-hover: #d1242f;
  --color-control-danger-fg-rest: #d1242f;
  --color-control-fg-disabled: #818b98;
  --color-control-fg-placeholder: #59636e;
  --color-control-fg-rest: #25292e;
  --color-control-icon-rest: #59636e;
  --color-control-transparent-bg-active: #818b9826;
  --color-control-transparent-bg-disabled: #eff2f5;
  --color-control-transparent-bg-hover: #818b981a;
  --color-control-transparent-bg-rest: #ffffff00;
  --color-control-transparent-bg-selected: #818b9826;
  --color-control-transparent-border-active: #ffffff00;
  --color-control-transparent-border-hover: #ffffff00;
  --color-control-transparent-border-rest: #ffffff00;
  /* DATA VISUALIZATION */
  --color-data-auburn-emphasis: #9d615c;
  --color-data-auburn-muted: #f2e9e9;
  --color-data-blue-emphasis: #006edb;
  --color-data-blue-muted: #d1f0ff;
  --color-data-brown-emphasis: #856d4c;
  --color-data-brown-muted: #eeeae2;
  --color-data-coral-emphasis: #d43511;
  --color-data-coral-muted: #ffe5db;
  --color-data-gray-emphasis: #808fa3;
  --color-data-gray-muted: #e8ecf2;
  --color-data-green-emphasis: #30a147;
  --color-data-green-muted: #caf7ca;
  --color-data-lemon-emphasis: #866e04;
  --color-data-lemon-muted: #f7eea1;
  --color-data-lime-emphasis: #527a29;
  --color-data-lime-muted: #e3f2b5;
  --color-data-olive-emphasis: #64762d;
  --color-data-olive-muted: #f0f0ad;
  --color-data-orange-emphasis: #eb670f;
  --color-data-orange-muted: #ffe7d1;
  --color-data-pine-emphasis: #167e53;
  --color-data-pine-muted: #bff8db;
  --color-data-pink-emphasis: #ce2c85;
  --color-data-pink-muted: #ffe5f1;
  --color-data-plum-emphasis: #a830e8;
  --color-data-plum-muted: #f8e5ff;
  --color-data-purple-emphasis: #894ceb;
  --color-data-purple-muted: #f1e5ff;
  --color-data-red-emphasis: #df0c24;
  --color-data-red-muted: #ffe2e0;
  --color-data-teal-emphasis: #179b9b;
  --color-data-teal-muted: #c7f5ef;
  --color-data-yellow-emphasis: #b88700;
  --color-data-yellow-muted: #ffec9e;
  /* FOCUS */
  --color-focus-outline: #0969da;
  /* OVERLAY */
  --color-overlay-backdrop-bg: #c8d1da66;
  --color-overlay-bg: #ffffff;
  --color-overlay-border: #d1d9e080;
}
